<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Flexslider2 plugin: http://flexslider.woothemes.com -->
<script src="/common/js/jquery.flexslider-min.js"></script>

<!-- Instagram JS - https://github.com/potomak/jquery-instagram --> 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.0/instagram.min.js"></script>

<!-- Fixed Sticky - https://github.com/filamentgroup/fixed-sticky --> 
<script src="/common/js/fixedsticky.js"></script>

<!-- Custom Scripts -->
<script src="/common/js/js.js"></script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>