//utility
$spacer                   :             22px;

//fonts
$font-family              :             arial, sans-serif;

//mqs
$tabtop                   :             768px;

//colours
$red                      :             #CC0000;
$blue                     :             #6699FF;
$white                    :             #FFFFFF;